button.show-color-pusher-button {
  position: fixed;
  bottom: 0;
  width: 140px;
  margin-left: -70px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 0;
  font-weight: bold;
}

div.color-pusher {
  position: fixed;
  bottom: 0;
  z-index: 10;

  min-width: 1120px;
  max-height: 360px;
  overflow: auto;
  background-color: #efefef;
  border-radius: 5px;
  border: 1px solid #ccc;
  color: black;
  padding: 5px;
}

button.color-pusher {
  margin-left: 5px;
}

#shareResultsModal {
  position: absolute;
  z-index: 100;
}

button.tight {
  margin-left: 0px;
  margin-right: 0px;
}

.semi-tight {
  padding-left: 5px;
  padding-right: 5px;
}

/* try to position between lines */
.basement {
  position: relative;
  top: 2.5em;
}
