<div>
  <div ng-hide="showColorPusher">
    <center>
      <button type="button" class="show-color-pusher-button btn btn-default"
        ng-click="showColorPusher=true;">
        <span class="glyphicon glyphicon-chevron-up"></span>
        color-pusher</button>
    </center>
  </div>

  <div ng-show="showColorPusher" class="color-pusher">
    <div class="row">
      <div class="col-md-12">

      <button type="button" class="pull-right btn btn-default" aria-hidden="true"
        ng-click="showColorPusher=false;">
        <span class="glyphicon glyphicon-chevron-down"></span>
      </button>

      <center>
        <p>Change base color and watch triad colors update.
        Change target CSS selectors.</p>
      </center>

        <form class="form-horizontal" role="form">

          <div class="form-group" ng-controller="ColourLoversCtrl">
            <label for="colourLoverPalette"
                class="control-label col-sm-2">
                <a href="http://www.colourlovers.com/palettes" target="_blank">ColourLover Palette</a></label>
            <div class="col-sm-6">
              <div class="input-group">
                <input
                  id="colourLoverPalette"
                  class="form-control"
                  type="text" size="80"
                  placeholder="{{placeholder}}"
                  ng-model="paletteId">
              </div>
            </div>

            <div class="col-sm-1">
            <button type="button" class="btn btn-primary"
              ng-click="fetchPalette(this.$parent)"
              ng-disabled="!isEnabled()"
              title="Pull palette colors">Fetch palette</button>
            </div>
          </div>

          <div class="form-group" ng-repeat="color in colors track by $index + color">
            <label for="colorPicker{{$index}}"
              class="col-sm-1 control-label">color {{$index}}</label>
            <div class="col-sm-2">
              <div class="input-group">
                <input
                  id="colorPicker{{$index}}"
                  class="form-control"
                  type="text"
                  minicolors="hueSettings"
                  ng-model="colors[$index]">
              </div>
            </div>

            <label for="selector{{$index}}"
              class="col-sm-2 control-label">selector {{$index}}</label>
            <div class="col-sm-2">
              <input type="text" class="form-control"
                id="selector{{$index}}"
                placeholder=".alert-info" required
                ng-model="selectors[$index]">
            </div>

            <label for="textColor{{$index}}"
              class="col-sm-1 control-label">text {{$index}}</label>
            <div class="btn-group" id="textColor{{$index}}">
              <button type="button" class="btn btn-default"
                ng-model="textColorStrategy[$index]" btn-radio="'white'">white</button>
              <button type="button" class="btn btn-default"
                ng-model="textColorStrategy[$index]" btn-radio="'black'">black</button>
              <button type="button" class="btn btn-default"
                ng-model="textColorStrategy[$index]" btn-radio="'auto'">auto</button>
          </div>
          </div>

          <div class="form-group">
            <div class="col-md-8 col-md-offset-2">

              <button type="button" class="pull-right btn btn-primary color-pusher"
                ng-click="applyColors()"
                title="apply current colors to selectors">Apply colors</button>

              <button type="button" class="pull-right btn btn-default color-pusher"
                ng-click="splitcomplement()"
                title="generate the splitcomplement complements of a base color">splitcomplement</button>

              <button type="button" class="pull-right btn btn-default color-pusher"
                ng-click="monochromatic()"
                title="generate monochromatic colors from base color">monochromatic</button>

              <button type="button" class="pull-right btn btn-default color-pusher"
                ng-click="analogous()"
                title="generate analogous colors from base color">Analogous</button>

              <button type="button" class="pull-right btn btn-default color-pusher"
                ng-click="tetrad()"
                title="generate +3 colors from base color">Tetrad</button>

              <button type="button" class="pull-right btn btn-default color-pusher"
                ng-click="triad()"
                title="generate +2 colors from base color">Triad</button>

            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
