<div ng-controller="ColourLoversCtrl">
  <label for="colourLoverPalette"
    class="control-label col-sm-2">
    <a href="http://www.colourlovers.com/palettes" target="_blank">ColourLover Palette</a>
  </label>
  <div class="col-sm-6">
    <div class="input-group">
      <input
        id="colourLoverPalette"
        class="form-control"
        type="text" size="80"
        placeholder="{{placeholder}}"
        ng-model="paletteId">
    </div>
  </div>

  <div class="col-sm-1">
    <button type="button" class="btn btn-primary"
      ng-click="fetchPalette(this.$parent)"
      ng-disabled="!isValidPalette() || fetchingPalette"
      title="Pull palette colors">Fetch palette</button>
  </div>
</div>
